<div class="w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700"
    id="checkout">
    <div class="flex items-center lg:flex-row flex-col  justify-center" id="cart">
        <div class="lg:w-1/2 md:w-8/12 w-full 	 lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white dark:bg-white  overflow-x-hidden lg:h-screen h-auto"
            id="scroll">

            <p class="lg:text-4xl text-3xl font-black leading-10 text-gray-800  dark:text-black pt-3">Cart
            </p>
            <hr>



            {{!-- start cart--}}
            {{#each products}}
            <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
                <div class="md:w-4/12 2xl:w-1/4 w-full">
                    <img src="/product-image1/{{this.product._id}}.jpg" alt="image"
                        class="h-full object-center object-cover md:block hidden" />
                    <img src="/product-image1/{{this.product._id}}.jpg" alt="image"
                        class="md:hidden w-full h-full object-center object-cover" />
                </div>
                <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                    <p class="text-xs leading-3 text-gray-800 dark:text-black md:pt-0 pt-4">
                    </p>
                    <div class="flex items-center justify-between w-full">
                        <p class=" font-black leading-none text-gray-800 dark:text-black">
                            <span class="w-6 h-2"> {{this.product.model_name}}</span>

                        </p>
                        <div class="flex flex-row">
                            <button
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{../user._id}}',-1)"
                                class="py-2 px-2.5 border border-gray-200  focus:outline-none dark:bg-gray-200
                                dark:hover:bg-gray-300 dark:text-black">-</button>
                                    <span id="{{this.product._id}}">{{this.quantity}}</span> <button
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}','{{../user._id}}',1)"
                                class="py-2 px-2.5 border border-gray-200  focus:outline-none dark:bg-gray-200 
                                dark:hover:bg-gray-300 dark:text-black">+</button>
                        </div>

                    </div>
                    <p class="text-xs leading-3 text-gray-600 dark:text-black pt-2">Height: {{this.product.height}}</p>
                    <p class="text-xs leading-3 text-gray-600 dark:text-black py-4">Color: {{this.product.color}}</p>
                    <p class="w-96 text-xs leading-3 text-gray-600 dark:text-black">Composition: 100%
                        leather
                    </p>
                    <div class="flex items-center justify-between pt-5">
                        <div class="flex itemms-center">

                            <a onclick="removeProduct('{{this._id}}','{{this.product._id}}')"
                                class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</a>
                        </div>
                        <p class="text-base font-black leading-none text-gray-800 dark:text-black">
                            ₹ {{this.product.price}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each }}
            {{!-- start summary--}}
        </div>
        <div class="lg:w-96 md:w-8/12 w-full bg-gray-100 dark:bg-gray-200 h-full">
            <div
                class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto">
                <div>
                    <p class="lg:text-4xl text-3xl font-black leading-9 text-gray-800 dark:text-black">Summary
                    </p>

                </div>
                <div>
                    <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
                        <p class="text-2xl leading-normal text-gray-800 dark:text-black">Total</p>
                        <p class="text-2xl font-bold leading-normal text-right text-gray-800 dark:text-black">
                            ₹ <span id="totalValue"> {{totalValue}}</span>
                        </p>
                    </div>
                    {{#if placeOrderButton}}

                    <button
                        class="text-base leading-none w-full py-5 bg-black border-gray-300 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700">
                        <a href="#">
                            Checkout
                        </a>
                    </button>
                    {{else}}

                    <button
                        class="text-base leading-none w-full py-5 bg-black border-gray-300 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700">
                        <a href="/place-order">
                            Checkout
                        </a>
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>


    <style>
        /* width */
        #scroll::-webkit-scrollbar {
            width: 1px;
        }

        /* Track */
        #scroll::-webkit-scrollbar-track {
            background: #f1f1f1e1;
        }

        /* Handle */
        #scroll::-webkit-scrollbar-thumb {
            background: rgb(133, 132, 132);
        }
    </style>



    <script>
        function changeQuantity(cartId, prodId, userId, count) {
            let quantity = parseInt(document.getElementById(prodId).innerHTML)
            count = parseInt(count)
            console.log(Object.values(userId));
            $.ajax({
                url: '/change-product-quantity',
                data: {

                    cart: cartId,
                    product: prodId,
                    user: userId,
                    count: count,
                    quantity: quantity
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        alert("Product removed from cart")
                        location.reload()
                    } else {

                        document.getElementById(prodId).innerHTML = quantity + count;
                        document.getElementById('totalValue').innerHTML = response.total;



                    }

                }

            })
        }


    </script>