<div class="mt-20 mb-20">
    <h1 class="flex items-center justify-center  font-extrabold text-black text-md text-3xl">
        Product
        Checkout
    </h1>
</div>
<div class="container p-12 mx-auto">
    <div class="flex flex-col w-full px-0 mx-auto md:flex-row">
        <div class="flex flex-col md:w-full">
            <h2 class="mb-4 font-bold md:text-xl text-heading ">Shipping Address
            </h2>
            <form class="justify-center w-full mx-auto" id="checkout-form">
                <div class="">

                    {{!-- start --}}
                    
                    <div>
                    <div class="space-x-0 lg:flex lg:space-x-4">
                        <div class="w-full ">
                            <label for="firstName" class="block mb-3 text-sm font-semibold text-gray-500">
                                Name</label>
                            <input name="name"  type="text" value="{{address.firstName}}" placeholder=" Name"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>

                    </div>
                    <div class="mt-4">
                        <div class="w-full">
                            <label for="Email" class="block mb-3 text-sm font-semibold text-gray-500">Email</label>
                            <input name="email" type="email" value="{{address.email}}" placeholder="Email"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="w-full">
                            <label for="address" class="block mb-3 text-sm font-semibold text-gray-500">Address</label>
                            <input name="email" type="text" value="{{address.areaStreet}}" placeholder="Email"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                    </div>
                    <div class="space-x-0 lg:flex lg:space-x-4">
                        <div class="w-full lg:w-1/2">
                            <label for="city" class="block mb-3 text-sm font-semibold text-gray-500">City</label>
                            <input name="city" type="text" placeholder="City"  value="{{address.townCity}}"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                        <div class="w-full lg:w-1/2 ">
                            <label for="pincode" class="block mb-3 text-sm font-semibold text-gray-500">
                                Postcode</label>
                            <input name="pincode" type="text" value="{{address.pincode}}" placeholder="Post Code"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                    </div>
                     <div class="space-x-0 lg:flex lg:space-x-4">
                        <div class="w-full lg:w-1/2">
                            <label for="city" class="block mb-3 text-sm font-semibold text-gray-500">flat no.</label>
                            <input name="city" type="text" placeholder="City"  value="{{address.flatBuilding}}"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                        <div class="w-full lg:w-1/2 ">
                            <label for="pincode" class="block mb-3 text-sm font-semibold text-gray-500">
                                Landmark</label>
                            <input name="pincode" type="text" value="{{address.landmark}}" placeholder="Post Code"
                                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                    </div>
                </div>
                {{!-- end --}}


                    <div class="block  mt-10">
                        <span class="text-gray-700">Payment-method</span>
                        <div class="mt-2 ">
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="payment-method" value="COD" checked>
                                    <span class="ml-2">Cash On Delivery</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input type="radio" class="form-radio" name="payment-method" value="ONLINE">
                                    <span class="ml-2">Online-payment</span>
                                </label>
                            </div>

                        </div>
                    </div>
                   
                    <div class="mt-4">
                        <button class="w-full px-6 py-2 text-white bg-gray-900 hover:bg-gray-700"
                            type="submit">Process</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="flex bg-slate-100 flex-col w-full ml-0 lg:ml-40   lg:items-center lg:w-2/5">
            <div class="   lg:mt-20 pt-12 md:pt-0 2xl:ps-4">
                <h2 class=" text-xl font-bold lg:text-3xl">Order Summary
                </h2>




                <div
                    class="flex items-center w-full py-4  font-semibold border-b lg:text-3xl border-gray-300 lg:py-5 lg:px-3 lg:mt-10  text-heading last:border-b-0 last:text-base last:pb-0">
                    Total:<span class="ml-2 lg:text-3xl">₹{{total}}</span></div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                console.log(response)
                if (response.codSuccess) {
                    location.href = '/order-success'
                } else {
                    razorpayPayment(response)
                }

            }

        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_y6o3hVmuSHhh14", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shoeroom",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {


                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }


    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {
                    alert('payment fucked')
                }
            }
        })
    }
</script>