<div class="flex flex-col overflow-hidden">
    <div class="overflow-x-auto sm:-mx-6 lg:mx-10">
        <div class=" m-10   inline-block w-5/6 sm:px-8 lg: px-8">
            <div class="   ">

                <div class="text-center text-3xl mb-6 font-bold">
                    <h1>User information</h1>

                </div>
                <div class="text-center text-2xl mb-6 font-bold">
                    <h3>Total Users: {{count}}</h3>

                </div>


                <table class="min-w-full text-center m-8 ">
                    <thead class="border-b bg-gray-50">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                User Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                Email
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                Number
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                User Block/Unblock
                            </th>


                        </tr>
                    </thead class="border-b">

                    <tbody>
                        {{#each users}}
                        <tr class="bg-white border-b">


                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{this.name}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> {{this.email}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{this.number}}
                            </td>
                            <td>
                                {{#if this.block}}
                                <a href="/admin/user-unblock/{{this._id}}"><button
                                        class=" rounded-2xl  px-4 py-2 text-white bg-gray-900 hover:bg-gray-700">
                                        Unblock</button>
                                </a>

                                {{else}}
                                <a href="/admin/user-block/{{this._id}}"><button
                                        class=" rounded-2xl  px-4 py-2 text-white bg-gray-900 hover:bg-gray-700">
                                        Block</button>
                                </a>

                                {{/if}}
                            </td>

                        </tr class="bg-white border-b">
                        {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>